/* GLOBAL */

:root {
    --color-green-600: #25a278;
    --color-lilac-300: #D8B9FF;
}

i {
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* fonts */

h1,
h2,
h3,
h4 {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.25rem;
    margin-bottom: 1rem;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

p,
a,
label {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #000;
}

a:hover {
    color: #000;
}

p {
    margin-bottom: 1rem;
}

li {
    margin-top: 0;
    margin-bottom: 0;
}



/* text */

.style-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


:root {
    --color-black: #000;
    --color-dk: #222;
    --color-white: #fff;
    --color-transparent-white: hsla(0, 0%, 100%, 0);
    --color-blue-100: #e6ebff;
    --color-blue-200: #c3cbff;
    --color-blue-300: #9ba2ff;
    --color-blue-400: #7573ff;
    --color-blue-500: #4f4fff;
    --color-blue-600: #3523ff;
    --color-blue-700: #2800d7;
    --color-blue-800: #0d1e7a;
    --color-blue-900: #02124b;
    --color-gray-100: #f8f8f8;
    --color-gray-200: #efefef;
    --color-gray-300: #ccc;
    --color-gray-400: #b3b3b3;
    --color-gray-500: #999;
    --color-gray-600: #767676;
    --color-gray-700: #545454;
    --color-gray-800: #3c3c3c;
    --color-gray-900: #262626;
    --color-gray-1000: #1c1c1c;
    --color-red-100: #fff0f0;
    --color-red-200: #ffd8d6;
    --color-red-300: #ffa6a6;
    --color-red-400: #ff7570;
    --color-red-500: #f34f4e;
    --color-red-600: #e42918;
    --color-red-700: #ba121d;
    --color-red-800: #8e1010;
    --color-red-900: #690303;
    --color-green-100: #f0f7f5;
    --color-green-200: #c1f6e4;
    --color-green-300: #7eedc8;
    --color-green-400: #30d8a0;
    --color-green-500: #2abd8c;
    --color-green-600: #25a278;
    --color-green-700: #0a8059;
    --color-green-800: #07593b;
    --color-green-900: #08452f;
    --color-yellow-100: #fdf6d2;
    --color-yellow-200: #feee9e;
    --color-yellow-300: #fee76d;
    --color-yellow-400: #ffdf3d;
    --color-yellow-500: #ffd600;
    --color-yellow-600: #cbaa04;
    --color-yellow-700: #977d09;
    --color-yellow-800: #63510d;
    --color-yellow-900: #493b05;
    --color-qt-navy: #131638;
}

html,
body {
    /* define height for footer */
    height: 100%;
}

/* Grid
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ----- GLOBAL ----- */

.flex-container {
    display: flex;
    box-sizing: border-box;
}

.gutter {
    width: 10%;
}

/* -------- COMMON ELEMENTS -------- */

/* -------- UNIQUE IDs ------- */

#wrapper,
#wrapper-header,
#wrapper-main,
#wrapper-footer {
    width: 100%;
}

#wrapper {
    /* align column, height min 100 of vh for sticky footer */
    flex-direction: row;
    min-height: 100vh;
}

#wrapper-main {
    /* fill available space to footer */
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-bottom: solid black 1px;
}

#wrapper-content {
    flex-direction: column;
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
}

#wrapper-footer {
    align-self: flex-end;
    margin-top: 1rem;
}

#article-main {
    display: flex;
    flex: 1;
    background: black;
    margin-top: 1rem;
}


/* ----------------------------------- text helpers -------------------------------------------- */

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}


/* --------------------------------- element helpers ------------------------------------------- */

.bg-black {
    background-color: black;
}

.bg-dark {
    background-color: #1c1c1c;
}

.el-overline {
    border-top: solid black 1px;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-stretch {
    align-items: stretch;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

/* ----------------------- Header and Footer-------------------------------------------- */

#nav-head {
    display: flex;
    justify-content: space-between;
}

#header-logo-socials {
    justify-content: space-between;
    align-items: center;
}

#social-links {
    display: flex;
    justify-content: space-around;
}

#social-links a {
    font-size: 2rem;
    margin-right: 1rem;
}

/* Additional styling for our horizontal navigation */
.horizontal-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* To remove default margin of the list */
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.horizontal-nav li {
    /* You can add individual list item styles here if needed */
}

.horizontal-nav a {
    text-decoration: none;
    /* To remove underline */
    color: #333;
    /* Basic color, but you can change it */
    padding: 5px 10px;
    /* Some padding for each link */
    transition: color 0.4s;
    /* Smooth transition for hover effect */
}

.horizontal-nav a:hover,
.footer-nav a:hover {
    color: #D8B9FF;
    /* A simple hover effect, but you can change it */
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-nav {
    margin-bottom: 0;
}

.footer-nav a {
    font-size: smaller;
    transition: color 0.4s;
    /* Smooth transition for hover effect */
}


/* ------------------------------------------ Article Components ------------------------------------ */

.article {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article-row {
    display: flex;
    gap: 1rem;
}

.article-row:first-child {
    margin-left: 0;
}

.article-row:last-child {
    margin-right: 0;
}

.article-secondary {
    flex: 2;
}

.article-tertiary-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    justify-content: space-between;
}

.article-content {
    margin: 1rem;
}

.article-tertiary {}

.article-main-container {
    padding: 1rem;
    display: flex;
}

.article-main-text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-title-container {}

.article-date-slug {
    color: #aaa;
    font-size: x-small;
}

.article-snippet {
    color: #fff;
}

.article-supplementary-container {
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border-top: dotted white 1px;

}

.article-keywords {
    border-top: dotted black 1px;
}

.article-keywords-main {
    border-top: dotted white 1px;
    border-bottom: solid white 1px;
}

.keywords {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.keywords a {
    font-size: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: color 0.3s;
}

.keywords a:hover {
    color: var(--color-lilac-300);
}


/* ---------------------- ARTICLE SECONDARY -------------------------- */

.article-secondary {}

.article-second-img-container {
    padding: 1rem;
}

.article-content-main {
    margin: 1rem;
}

/* ------------------ IMG ------------------- */

img.responsive {
    max-width: 100%;
    height: auto;
}

/* ----------------------------------- QL Custom --------------------------------------- */

.ql-toolbar {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.ql-container {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ql-formats>* {
    margin-bottom: 0;
}


/* ####### MEDIA QUERIES ########## */

@media (min-width: 768px) {
    .horizontal-nav {
        display: flex;
        flex-direction: row;
        max-height: none;
        overflow: visible;
    }

    .menu-icon {
        display: none;
    }

    /* prevent stacked menu when changing screen width */
}

@media (max-width: 767px) {

    /* Adjust this breakpoint as needed */
    .horizontal-nav {
        display: none;
        /* Initially hide the menu */
        flex-direction: column;
        /* Stack the links vertically */
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    /* Add a class for the expanded state */
    .horizontal-nav.expanded {
        display: flex;
        flex-direction: column;
        max-height: 12rem;
        /* Adjust this value based on the maximum height your menu can take. */
    }

    .menu-icon {
        display: block;
        /* Show the burger icon */
    }

    .style-title {
        font-size: 2rem;
    }

    .article-main-text-container {
        height: auto;
    }

    .article-row {
        flex-direction: column;
    }

    h1,
    h2,
    h3,
    h4 {

        letter-spacing: -0.1rem;
    }

    #article-main {
        flex-direction: column-reverse;
    }
}