/* GLOBAL */

:root {
    --color-green-600: #25a278;
    --color-lilac-300: #D8B9FF;
}

i {
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* fonts */

h1,
h2,
h3,
h4 {
    font-family: 'Inter', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

p,
a {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

li {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* text */

.style-title {
    padding-top: 2rem;
}

/* #### HEADER #### */

/* Additional styling for our horizontal navigation */
.horizontal-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* To remove default margin of the list */
}

.menu-icon {
    display: none;
    cursor: pointer;
}


/* text helpers */

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}


/* element helpers */

.bg-black {
    background-color: black;
}

.bg-dark {
    background-color: #1c1c1c;
}

.el-overline {
    border-top: solid black 1px;
}

/* Header and Footer */

.horizontal-nav li {
    /* You can add individual list item styles here if needed */
}

.horizontal-nav a {
    text-decoration: none;
    /* To remove underline */
    color: #333;
    /* Basic color, but you can change it */
    padding: 5px 10px;
    /* Some padding for each link */
    transition: color 0.4s;
    /* Smooth transition for hover effect */
}

.horizontal-nav a:hover,
.footer-nav a:hover {
    color: #D8B9FF;
    /* A simple hover effect, but you can change it */
}

.el-underline {
    border-bottom: #333 1px solid;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-nav {
    margin-bottom: 0;
}

.footer-nav a {
    font-size: smaller;
    transition: color 0.4s;
    /* Smooth transition for hover effect */
}


/* Article Components */

.article {
    margin: 1rem;
}

.article-main-container {
    padding: 1rem;
    display: flex;
}

.article-main-text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-title-container {}

.article-date-slug {
    color: #aaa;
    font-size: x-small;
}

.article-snippet {
    color: #fff;
}

.article-supplementary-container {
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border-top: dotted white 1px;

}

.keywords {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keywords a {
    font-size: xx-small;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.keywords a:hover {
    color: var(--color-lilac-300);
}

.article-secondary {}

.article-second-img-container {
    padding: 1rem;
}


/* ####### MEDIA QUERIES ########## */

@media (min-width: 768px) {
    .horizontal-nav {
        display: flex;
        flex-direction: row;
        max-height: none;
        overflow: visible;
    }

    .menu-icon {
        display: none;
    }

    /* prevent stacked menu when changing screen width */
}

@media (max-width: 767px) {

    /* Adjust this breakpoint as needed */
    .horizontal-nav {
        display: none;
        /* Initially hide the menu */
        flex-direction: column;
        /* Stack the links vertically */
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    /* Add a class for the expanded state */
    .horizontal-nav.expanded {
        display: flex;
        flex-direction: column;
        max-height: 12rem;
        /* Adjust this value based on the maximum height your menu can take. */
    }

    .menu-icon {
        display: block;
        /* Show the burger icon */
    }

    .style-title {
        font-size: 2rem;
    }

    .article-main-text-container {
        height: auto;
    }
}