<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('base.static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('base.static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" href="{{ url_for('base.static', filename='css/header.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('base.static', filename='css/custom.css')}}">
</head>


<body>
    <!-- wrapper flex container columns for gutters -->
    <div id="wrapper" class="flex-container">
        <!-- left gutter -->
        <div class="gutter bg-white"></div>
        <!-- main content, header nav, footer, -->
        <div id="wrapper-main" class="flex-container">
            <!-- header navigation -->
            <div id="wrapper-header">
                <header class="flex-container align-stretch flex-col">
                    <div id="header-logo-socials" class="flex-1 bg-black flex-container">
                        <div id="logo" class="">
                            <h2 class="color-white style-title">Alexander John James Green</h2>
                        </div>
                        <div id="social-links">
                            <a href="">
                                <i class="fa-brands fa-square-facebook" style="color: #fff;"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-square-x-twitter" style="color: #fff;"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-square-instagram" style="color: #fff;"></i>
                            </a>
                        </div>
                    </div>
                    <nav id="nav-head" class="flex-container flex-1">
                        <div id="menuIcon" class="menu-icon"><i class="fa-solid fa-bars"></i></div>
                        <!-- Burger icon -->
                        <ul id="menu" class="horizontal-nav">
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Home</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Blog</a></li>
                            <li><a href="http://" target="_blank" rel="noopener noreferrer">Contact</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div id="wrapper-content" class="flex-1">
                {% block content %}
                {% endblock %}

            </div>
            <div id="wrapper-footer" class="flex-container bg-black">
                <div class="flex-1">
                    <p class="color-white">Footer</p>
                </div>
            </div>

        </div>
        <!-- right gutter -->
        <div class="gutter bg-white"></div>
    </div>
    <script src="https://kit.fontawesome.com/3c7e38d30f.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('base.static', filename='js/scripts.js')}}"></script>
</body>

</html>