<!-- article secondary -->
<div class="article article-secondary">
    <a href="#">
        <div class="article-content-main">
            <div class="article-content-img">
                <img class="responsive" src="https://placehold.co/800x600" alt="an img">
            </div>
            <div class="article-content-text">
                <div class="article-title">
                    <h2>article-secondary</h2>
                </div>
                <div class="article-content-snippet">
                    <p>Here is a snippet</p>
                </div>
            </div>
        </div>
    </a>
    <div class="article-keywords">
        <div class="keywords">
            <a href="#">#Business</a>
            <a href="#">#Finance</a>
            <a href="#">#Geopoltics</a>
        </div>
    </div>
</div>