<!-- tertiary block -->
<div class="article-tertiary-col">
    <div class="article article-tertiary">
        <a href="#">
            <div class="article-content-main">
                <div class="article-content-text">
                    <div class="article-title">
                        <h4>Article Tertiary</h4>
                    </div>
                    <div class="article-content-snippet">
                        <p>Here is a snippet</p>
                    </div>
                </div>
            </div>
        </a>
        <div class="article-keywords">
            <div class="keywords">
                <a href="#">#Business</a>
                <a href="#">#Finance</a>
                <a href="#">#Geopoltics</a>
            </div>
        </div>
    </div>
    <div class="article article-tertiary">
        <a href="#">
            <div class="article-content-main">
                <div class="article-content-text">
                    <div class="article-title">
                        <h4>Article Tertiary</h4>
                    </div>
                    <div class="article-content-snippet">
                        <p>Here is a snippet</p>
                    </div>
                </div>
            </div>
        </a>
        <div class="article-keywords">
            <div class="keywords">
                <a href="#">#Business</a>
                <a href="#">#Finance</a>
                <a href="#">#Geopoltics</a>
            </div>
        </div>
    </div>
</div>