<div id="article-main">
    <div class="article-content-main flex-1 flex-col space-between align-stretch flex-container">
        <div class="article-content-text">
            <a href="#">
                <div class="article-title">
                    <h1 class="color-white">Article Main</h1>
                </div>
                <div class="article-content-snippet">
                    <p class="color-white">Here is a snippet</p>
                </div>
            </a>
        </div>
        <div class="article-keywords-main">
            <div class="keywords">
                <a class="color-white" href="#">#Business</a>
                <a class="color-white" href="#">#Finance</a>
                <a class="color-white" href="#">#Geopoltics</a>
            </div>
        </div>
    </div>
    <div class="article-content-main flex-1">
        <div class="article-content-img">
            <a href="#">
                <img class="responsive" src="https://placehold.co/800x600" alt="an img">
            </a>
        </div>
    </div>
</div>